@import url('../index.css');

.at-displayer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 20px 0px 20px;
    max-height: calc(100vh - 80px);
}

.at__add-instructions{
    color: var(--color-instructions-text-01);
}

.at-displayer__header{
    display: flex;
    justify-content: space-between;
}

.at-displayer-header__text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.at-displayer-header__buttons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    min-height: 86px;
}
.at-displayer-header__buttons-container .button-01{
    animation-name: FadeInRight;
    animation-fill-mode: forwards;
    animation-duration: var(--anim-duration);
}

.at__edit-instructions{
    color: var(--color-alert-01);
    opacity: 50%;
}

.at-displayer__days-container{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

.at__day{
    flex-basis: 125px;
    /* flex-grow: 1; */
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-02);
    box-shadow: 4px 4px 4px var(--box-shadow-01), inset 0 0 6px transparent;
    border: 1px solid rgba(255,255,255, 0.15);
}

.at__day:hover{
    color: var(--color-04);
    filter: brightness(150%);
    cursor: pointer;
    user-select: none;
}

.at__day.editing{
    color: var(--color-alert-01);
    border-color: var(--color-alert-01);
}

/* 
### APLICACOES DOS ESTILOS DE TEMA ##############################################################################################################################
*/

.app.light .at__day:hover{
    filter: brightness(110%);
}

.app.light .at__day{
    border-color: rgba(0,0,0, 0.25);
}
.app.light .at__day.editing{
    border-color: var(--color-alert-01);
}