@import url("../App.css");

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 60px;
    padding: 0px 20px;
}

.home > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    box-shadow: 0px 10px 20px var(--box-shadow-01);
    font-size: 5vw;
    color: var(--color-04);
}

.home > p{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 1.2em;
    color: var(--color-instructions-text-01);
}

.home > p > svg{
    padding: 5px;
    border: 1px solid var(--color-instructions-text-01);
    border-radius: 99px;
    font-size: 1.2em;
}

@media (max-width: 1060px) {
    .home > p{
        font-size: 1.0em;
    }
}