@import url('../index.css');

.tasks-displayer{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.tasks-displayer__buttons-container{
    display: flex;
    column-gap: 20px;
    row-gap: 8px;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 15px;
    padding-left: 80px;
    background-color: var(--color-01);
    box-shadow: 0px 4px 4px var(--box-shadow-02);
}

.tasks-displayer__instructions-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
    color: var(--color-instructions-text-01);
}

.tasks-displayer__instructions-container svg{
    padding: 5px;
    border: 1px solid var(--color-instructions-text-01);
    border-radius: 99px;
    font-size: 1.2em;
}