@import url('../../App.css');

.button-01{
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 10px 20px 10px 15px;
    max-width: fit-content;
    border-radius: 99px;
    background-color: var(--color-03);
    box-shadow: 4px 4px 4px var(--box-shadow-01);
    user-select: none;
}

.stretch{
    max-width: 100%;
}

.danger-button{
    animation-name: DangerButton;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
}

.hover-effect-01.danger-button:hover{
    color: white;
}

@keyframes DangerButton{
    0%{
        background-color: var(--color-alert-01);
    }
    100%{
        background-color: var(--color-alert-02);
    }
}