@import url('../../index.css');

.super-task{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 220px;
    flex-grow: 1;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-02);
    border: 1px solid rgba(255,255,255, 0.15);
    box-shadow: 4px 4px 4px var(--box-shadow-01), inset 0 0 6px transparent;

    animation-name: superTaskFadeIn;
    animation-duration: var(--anim-duration-02);
    animation-fill-mode: forwards;

    transition: box-shadow 0.15s;
}

.super-task.done{
    box-shadow: 4px 4px 4px transparent, inset 0 0 6px var(--color-04);
    animation-name: superTaskFadeIn, superTaskDone;
}
.super-task.been-deleted{
    animation-name: BeenDeleted;
    animation-duration: var(--anim-duration);
    animation-fill-mode: forwards;
}

.super-task__header{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.super-task svg:hover{
    cursor: pointer;
}
.super-task.done svg{
    filter: drop-shadow(0 0 3px var(--color-04));
}

.super-task-header__title-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.super-task-header__buttons-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
.super-task.done .super-task-header__buttons-container p{
    text-shadow: 0px 0px 5px var(--color-04);
}

.super-task textarea{
    flex-grow: 1;
    padding: 3px;
    border-bottom: 1px solid rgb(75,75,75);
    border-radius: 5px;
    font-family: serif;
    font-size: 1.05em;
    overflow: hidden;
}
.super-task textarea:disabled{
    color: rgba(255,255,255, 0.7);
    background-color: rgba(255,255,255, 0.02);
}
.super-task textarea:enabled{
    border-bottom: 1px solid white;
    background-color: rgba(255,255,255, 0.04);
}
.super-task textarea:focus{
    outline: 1px solid var(--color-04);
}
.super-task.done textarea{
    border-bottom: 1px solid var(--color-04);
    box-shadow: 0px 5px 10px rgba(255, 182, 97, 0.2);
}

.super-task-body__step-tasks-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.super-task-body__step-tasks-container > p{
    color: var(--color-instructions-text-01);
}

.p-edit-instructions{
    color: var(--color-instructions-text-01);
    padding-top: 0px;
}

/* 
### EFEITOS DE FADE-IN ##########################################################################################################################################
*/

@keyframes superTaskFadeIn {
    0% {
        opacity: 0%;
        transform: translateY(-20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

/* 
### EFEITOS DE FADE-OUT #########################################################################################################################################
*/

@keyframes BeenDeleted {
    0%{
        opacity: 100%;
        transform: translateY(0px);
    }
    100%{
        opacity: 0%;
        transform: translateY(20px);
    }
}

/* 
### EFEITOS DE DONE #################################################################################################################
*/


@keyframes superTaskDone {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* 
### APLICACOES DOS ESTILOS DE TEMA ##############################################################################################################################
*/

.app.light .super-task{border: 1px solid rgba(0,0,0, 0.25);}

.app.light .super-task-header__title-container > svg,
.app.light .step-task > svg
{
  color: var(--color-04);
}

.app.light textarea{
  border-bottom: 1px solid rgb(150,150,150);
}
.app.light textarea:disabled{
  color: rgba(0,0,0, 0.7);
  background-color: rgba(0,0,0, 0.075);
}
.app.light textarea:enabled{
  color: rgba(0,0,0, 1.0);
  border-bottom: 1px solid black;
  background-color: rgba(0,0,0, 0.03);
}

.app.light .super-task.done{box-shadow: 4px 4px 4px transparent, inset 0 0 7px hsl(25deg 100% 50%);}
.app.light .super-task.done svg{filter: drop-shadow(0 0 6px hsla(25, 75%, 50%, 0.5));}
.app.light .super-task.done textarea{
  border-bottom: 1px solid hsl(25deg 100% 50%);
  box-shadow: 0px 5px 10px hsla(25, 75%, 50%, 0.3);
}
