@import url('../../index.css');

.at-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 90px;
    background-color: var(--color-01);

    animation-name: FadeInTop;
    animation-duration: var(--anim-duration-02);
}

.at-container__tasks-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
    padding-right: 10px;
}

.at-container__buttons-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.at-buttons-container__buttons-edit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.at-buttons-container__buttons-edit .button-01{
    animation-name: FadeInRight;
    animation-duration: var(--anim-duration-02);
}

.at-container h2{
    font-weight: normal;
}