:root {
  --color-01: #08090B; /* background */
  --color-02: #14191d; /* tasks */
  --color-03: #222325; /* botoes */
  --color-04: #FFB661; /* highlight 2 (principal) */
  --color-navbar: #14191d; /* navbar */

  --color-instructions-text-01: rgba(255,255,255, 0.25);
  --color-alert-01: rgb(255, 50, 0);
  --color-alert-02: rgb(140, 26, 0);

  --box-shadow-01: rgba(0,0,0, 1.00);
  --box-shadow-02: rgba(0,0,0, 0.75);
  --box-shadow-03: rgba(0,0,0, 0.50);

  --anim-duration: 0.125s;
  --anim-duration-02: 0.2s;
  
  color: white;
  font-family: sans-serif;
}

/* #88DFF0 */

*{
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-03);
  border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px;
}

/* botoes no geral */
.hover-effect-01:hover{
  cursor: pointer;
  color: var(--color-04);
  filter: brightness(150%);
}

/* botao de toggle da navbar */
.hover-effect-02:hover{
  cursor: pointer;
  color: var(--color-04);
  filter: brightness(150%);
}

textarea:enabled{
  color: white;
}

.fade-in-top{
  animation: FadeInTop;
  animation-duration: var(--anim-duration);
  animation-fill-mode: forwards;
}

.fade-in-left{
  animation: FadeInLeft;
  animation-duration: var(--anim-duration);
  animation-fill-mode: forwards;
}

.been-deleted{
  animation-name: BeenDeleted !important;
  animation-duration: var(--anim-duration) !important;
  animation-fill-mode: forwards !important;
}

@keyframes FadeInTop {
  0% {
    opacity: 0%;
    transform: translateY(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes FadeInLeft {
  0% {
    opacity: 0%;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes FadeInRight {
  0% {
    opacity: 0%;
    transform: translateX(20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes BeenDeleted {
  0%{
      opacity: 100%;
      transform: translateY(0px);
  }
  100%{
      opacity: 0%;
      transform: translateY(20px);
  }
}