@import url('../../App.css');

.tasks-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 20px 0px 20px;
    overflow-y: auto;
}

/* width */
.tasks-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tasks-container::-webkit-scrollbar-track {
    background-color: var(--color-03);
    border-radius: 99px;
}

/* Handle */
.tasks-container::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 10px;
}

.tasks-container > div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10px;
}